* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  text-decoration: none;
}
:root {
  --background-color: rgba(244, 244, 234, 0.868);
  --font-family: "SF Pro Display", sans-serif;
  --color-p: rgba(1, 1, 1, 0.649);
  --font-titulo: helvetica, Verdana, sans-serif;
  --color-tittle: rgba(25, 24, 24, 0.9);
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80px;
  border: 5px solid orangered;
  border-radius: 5px;
}
img {
  display: block;
  border-radius: 5px;
}
body {
  background: var(--background-color);
  font-family: var(--font-family);
  display: grid;
  grid-template-columns: 120px 1fr 120px;
}
input,
dt,
label {
  align-items: center;
  font-family: var(--font-family);
  font-size: 1.1rem;
  margin-top: 5px;
}
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-tittle);
}
#main-tittle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.section-tittle {
  width: 820px;
  grid-column: 2;
  align-items: center;
  margin-top: 8rem;
}
#main-article {
  margin-bottom: 1.5rem;
}
p,
article {
  font-family: var(--font-family);
  line-height: 1.7rem;
  font-size: 1.2rem;
  color: var(--color-p);
  letter-spacing: 1px;
  margin-top: 1rem;
}
main {
  grid-column: 2;
}
.header-main {
  grid-column: 2;
  margin-left: 10px;
  margin-right: 10px;
}
.menu-main ul {
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-top: 25rem;
}
.menu-main {
  width: 100%;
  position: absolute;
  height: 0px;
}
.menu-main ul a {
  display: block; /*block para informar que aquele elemento irá ocupar o espaço de uma linha, de um "bloco" no fluxo, ou seja, será o único elemento daquela linha.*/
  padding: 10px;
  margin-right: 10px;
  color: #fffafa;
  text-decoration: none;
  font-family: "SF Pro Display", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}
.menu-main ul a:hover {
  background: rgba(0, 0, 0, 0.451);
  transition: 0.6s ease;
  border-radius: 5px;
  width: 100%;
}
#menu-paises {
  width: 100%;
  height: auto;
  background: rgba(2, 2, 2, 0.481);
  text-align: center;
  border-radius: 5px;
  margin-top: 0.2rem;
  display: none;
}
#menu-paises a {
  margin: 0 auto;
}
#paises:hover #menu-paises {
  display: block;
}
.midia {
  grid-column: 1;
  position: fixed;
}
.midia img {
  width: 40px;
  height: 40px;
  margin: 1px 0 20px 5px;
}
.midia a:hover {
  cursor: pointer;
  background: black;
}
/* CARROSSEL inicio*/
.slider {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 2s;
}
.on {
  opacity: 1;
}
#prev-bottom,
#next-bottom {
  position: absolute; /* posição pai tem que ser relative*/
  padding: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.5rem;
  top: 40%;
}
#prev-bottom {
  left: 0;
}
#next-bottom {
  right: 0;
}
#prev-bottom:hover,
#next-bottom:hover {
  background-color: rgba(80, 39, 39, 0.381);
  transition: 0.5s ease;
  border-radius: 5px;
}
.container-slider {
  width: 100%;
  min-height: 60vh;
  gap: 1rem;
  justify-content: center;
}
.container-images {
  position: relative;
  width: 100%;
  align-items: center;
}
/* CARROSSEL fim */
/* DOT inicio */
.dot {
  position: relative;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  border-radius: 50%;
  border: 2px dotted white;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: white;
}
.info-section {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2;
}
/* DOT fim */
.photo-container {
  width: 800px;
  height: 460px;
}
.photo-container img {
  position: absolute;
  width: 800px;
  height: 460px;
}
.info-container {
  width: 800px;
}
.btn-carrosel {
  text-align: center;
  margin-top: 27rem;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  body {
    grid-template-columns: 1fr;
  }
  .midia {
    display: none;
  }
  section {
    margin-left: 2em;
  }
  main {
    margin: -5rem auto;
  }
  .slider {
    height: 420px;
  }
  .menu-main {
    margin-top: -2.5rem;
  }
}
@media (min-width: 815px) and (max-width: 1024px) {
  body {
    margin: 0 auto;
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }
  #paises-nome {
    margin-left: 1rem;
  }
  .midia {
    display: none;
  }
  .section-tittle {
    width: 75%;
    margin: 1rem auto;
    text-align: center;
  }
  p,
  article {
    font-family: var(--font-family);
    line-height: 1.2rem;
    font-size: 1rem;
    color: var(--color-p);
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 60px;
    border: 4px solid orangered;
    border-radius: 5px;
  }
  .info-container {
    width: 660px;
    height: 360px;
    margin-top: -6rem;
    margin-bottom: -7rem;
    margin-left: 1rem;
  }
  .photo-container img {
    width: 660px;
    height: 360px;
    margin-left: 1rem;
  }
  .fonte {
    font-size: 0.8rem;
  }
  .slider {
    margin: 0 auto;
    width: 100%;
    height: 360px;
    gap: 1rem;
  }
  .menu-main ul {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin: 23rem auto;
    background: wheat;
    width: 500px;
  }
  .menu-main ul a {
    color: black;
  }
  #prev-bottom,
  #next-bottom {
    display: none;
  }
  .dot {
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px dotted white;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot:hover {
    background-color: white;
  }
  .btn-carrosel {
    text-align: center;
    margin-top: 20rem;
  }
}
@media (min-width: 546px) and (max-width: 815px) {
  body {
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }
  .midia {
    display: none;
  }
  .section-tittle {
    width: 520px;
    align-items: center;
    margin: 0 auto;
  }
  #main-tittle {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  p,
  article {
    font-family: var(--font-family);
    line-height: 1rem;
    font-size: 1rem;
    color: var(--color-p);
  }
  #paises-nome {
    text-align: center;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50px;
    border: 3px solid orangered;
    border-radius: 5px;
  }
  .info-section {
    justify-content: center;
  }
  .info-container {
    width: 480px;
    height: 320px;
    margin-top: -8rem;
    margin-bottom: -2rem;
  }
  .photo-container img {
    width: 480px;
    height: 320px;
  }
  .photo-container {
    width: 480px;
    height: 320px;
    margin-bottom: 8rem;
  }
  .fonte {
    font-size: 0.7rem;
  }
  .slider {
    margin: 0 auto;
    width: auto;
    height: 260px;
    gap: 1rem;
    justify-content: center;
  }
  .container-images img {
    width: 100%;
  }
  #prev-bottom,
  #next-bottom {
    font-size: 1rem;
  }
  .menu-main ul {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin: 16rem auto;
  }
  .menu-main ul a {
    color: black;
  }
  main {
    margin-top: -7rem;
  }
  .dot {
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px dotted white;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot:hover {
    background-color: white;
  }
  .btn-carrosel {
    text-align: center;
    margin-top: 18rem;
  }
}
@media (min-width: 320px) and (max-width: 546px) {
  body {
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }
  .menu-main {
    background: none;
    display: flex;
    padding: 10px;
    justify-content: center;
  }
  main {
    margin-top: -14rem;
  }
  .menu-main ul a {
    display: flex;
    padding: 5px;
    justify-content: center;
    color: var(--color-tittle);
    font-size: 0.6rem;
    margin-top: -16rem;
    background: white;
  }
  #menu-paises {
    font-size: 0.5rem;
    margin-top: -0.1rem;
  }
  #main-tittle {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .midia {
    display: none;
  }
  .section-tittle {
    width: 310px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  p,
  article {
    font-family: var(--font-family);
    line-height: 0.6rem;
    font-size: 0.7rem;
    color: var(--color-p);
  }
  #paises-nome {
    text-align: center;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50px;
    border: 3px solid orangered;
    border-radius: 5px;
  }
  .info-section {
    justify-content: center;
    height: 400px;
  }
  .info-container {
    width: 310px;
    height: 180px;
  }
  .photo-container img {
    width: 310px;
    height: 180px;
  }
  .photo-container {
    width: 310px;
    height: 180px;
    margin-top: 1.5rem;
  }
  .fonte {
    font-size: 0.7rem;
  }
  .slider {
    margin: 0 auto;
    width: auto;
    height: 160px;
    gap: 1rem;
    justify-content: center;
  }
  .container-images img {
    width: 100%;
  }
  #prev-bottom,
  #next-bottom {
    font-size: 1rem;
  }
  .dot {
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px dotted white;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot:hover {
    background-color: white;
  }
  .btn-carrosel {
    text-align: center;
    margin-top: 10rem;
  }
}
