* {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
} /* max-width para deixar img responsivas*/

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr; /*aqui tem 4 colunas(1fr, 120px, minmax e 1fr*/
}

.menu {
  grid-column: 3 / 5; /*para que o menu pegue da linha 3 a linha 5(a última linha)*/
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block; /*block para informar que aquele elemento irá ocupar o espaço de uma linha, de um "bloco" no fluxo, ou seja, será o único elemento daquela linha.*/
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: 'SF Pro Display', Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box; /*O box-sizing com o valor border-box faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura.*/
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}
.animais h2 {
  font-size: 1.3rem;
  margin-bottom:1rem ;
  color:#e54;
}

.animais h2::before {
  content: ''; /*sempre tem q colocar o content*/
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #FB5;
}

.animais p {
 line-height: 1.2;
 margin-bottom: 1rem;
 font-family: 'SF Pro Display', Helvetica, sans-serif;
}

.animais-lista {
  height: 360px;
  overflow-y:scroll ;
  grid-column: 2;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #FB5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section{
  margin-bottom: 3rem;
}

.faq-lista {
  font-family: Helvetica, sans-serif;
  grid-column: 2 / 4;
}


.faq-lista dt {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #E54;
}

.faq-lista dt::before {
  content: '';
  width: 20px; 
  height: 10px; 
  display: inline-block; /*Com o inline-block você terá o comportamento de um elemento inline, porém permitindo que altere as margens, altura, largura e padding do seu elemento assim como um elemento do tipo block.*/
  background-color: #FB5;
  margin-right: 10px;
}

dd {
  margin-left: 30px;
}

.mapa {
  grid-column: 2 ;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, sans-serif;
}

.dados li::before {
  content: '';
  width: 20px; 
  height: 10px; 
  display: inline-block; /*Com o inline-block você terá o comportamento de um elemento inline, porém permitindo que altere as margens, altura, largura e padding do seu elemento assim como um elemento do tipo block.*/
  background-color: #FB5;
  margin-right: 10px;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: #FB5;
}

.copy p {
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}

@media(max-width:700px) {
  body {
    grid-template-columns: 1fr;
  }
  .menu, .grid-section, .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-lista, .dados, .mapa {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0px;
  }
  .copy {
    margin-bottom: 0px;
  }
}



