body {
 
}

div {
  text-align: center;
}

.tela  {
  width: 20em;
  background: lightblue;
  height: 10em;
  padding: 0;
}
h1 {
  margin: 0 !important;
}


.color {
  background: lightgray;
  height: 100px;
  margin-bottom: 10px;
  
}

.flex-container {
  display: flex;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
  flex-wrap: wrap; 
}
